# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log
.next

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
*.so

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
*.log
*.sqlite3
data/ 